* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.main-content{
    width: 768px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #141414;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-content h1{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.main-content p{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    font-size: 20px;
}

.main-content input, button{
    padding: 0.5rem;
    border-radius: 5px;
}

.main-content button{
    outline: none;
    border: none;
    font-weight: bold;
}

.main-content #goBtn:hover{
    background-color: #65d86f;
    transition: ease-in-out 0.2s;
}

.main-content #resetBtn:hover{
    background-color: #d35e5e;
    transition: ease-in-out 0.2s;
}

.main-content input{
    border: 1px solid green;
    outline: none;
}

.buttons-area{
    margin-top: 1rem;
}

